/* sanitize */
*, ::after, ::before {
    box-sizing: border-box
}

::after, ::before {
    text-decoration: inherit;
    vertical-align: inherit
}

html {
    cursor: default;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: break-word
}


h1 {
    font-size: 2em;
    margin: .67em 0
}

dl dl, dl ol, dl ul, ol dl, ul dl {
    margin: 0
}

ol ol, ol ul, ul ol, ul ul {
    margin: 0
}

hr {
    height: 0;
    overflow: visible
}

main {
    display: block
}

nav ol, nav ul {
    list-style: none;
    padding: 0
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

iframe {
    border-style: none
}

img {
    border-style: none
}

svg:not([fill]) {
    fill: currentColor
}

svg:not(:root) {
    overflow: hidden
}

table {
    border-collapse: collapse
}

button, input, select {
    margin: 0
}

button {
    overflow: visible;
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

fieldset {
    border: 1px solid #a0a0a0;
    padding: .35em .75em .625em
}

input {
    overflow: visible
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

select {
    text-transform: none
}

textarea {
    margin: 0;
    overflow: auto;
    resize: vertical
}

[type=checkbox], [type=radio] {
    padding: 0
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
    box-shadow: none
}

details {
    display: block
}

dialog {
    background-color: #fff;
    border: solid;
    color: #000;
    display: block;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    left: 0;
    margin: auto;
    padding: 1em;
    position: absolute;
    right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content
}

dialog:not([open]) {
    display: none
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[tabindex], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

[hidden] {
    display: none
}

[aria-busy=true] {
    cursor: progress
}

[aria-controls] {
    cursor: pointer
}

[aria-disabled=true], [disabled] {
    cursor: not-allowed
}

[aria-hidden=false][hidden] {
    display: initial
}

[aria-hidden=false][hidden]:not(:focus) {
    clip: rect(0, 0, 0, 0);
    position: absolute
}

@keyframes colorRotate {
    100% {
        -webkit-filter: hue-rotate(360deg);
    }
}

/*
!* Barlow latin *!
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_DMs5ynghnQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*/

/* rpardini: i hacked this badly */
body {
    margin: 0 auto;
    max-width: 600px;
    pointer-events: none;
    background-color: transparent;
}

html {
    padding: 0px 0.6em;
    font-family: 'Barlow', sans-serif;
    background-color: #0c1d2d;
    color: white;
}


footer {
    background-color: rgba(170, 202, 112, 1);
    padding: 10px;
    color: #0C1D2D;
    text-align: right;
    animation: colorRotate 5s linear infinite;
    margin-top: 1rem;
}

footer a {
    color: #0C1D2D;
}


a {
    color: #CCE4A0;
    animation: colorRotate 5s linear infinite;
}

p {
    margin: 0.5rem 0;
}

h2 {
    margin: 1rem 0 0;
    padding: 5px 10px;
    font-size: 1.25rem;
    text-transform: uppercase;
    background-color: rgba(16, 29, 30, 0);
}

h2, h3 {
    pointer-events: all;
    color: #CCE4A0;
    animation: colorRotate 5s linear infinite;
}

dl {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.04);
    padding: 10px;
    margin: 0;
}

dl:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.02);
}

dt {
    width: 25%;
    text-transform: uppercase;
}

dd {
    width: 75%;
    margin: 0;
}

.dl--wide {
    line-height: 2.5;
}

.dl--wide dt {
    width: 45%;
}

.dl--wide dd {
    width: 55%;
}

.logo {
    text-align: center;
    padding-top: 1rem;
    animation: colorRotate 5s linear infinite;
}

.content {
    padding: 10px;
}

.weather {
    position: relative;
}

.weather iframe {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
}

.button {
    border: 1px solid #CCE4A0;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    animation: colorRotate 5s linear infinite;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
    width: 100%;
}

dd.stageTitle {
    color: cyan;
    animation: colorRotate 30s linear infinite;
}

span.actname {
    color: pink;
    animation: colorRotate 50s linear infinite;
}

span.acttime {
    font-family: monospace;
    display: inline-block;
    margin-right: 0.3em;
    white-space: nowrap;
}

.act {
    margin-top: 10px;
}

/* sections and footer actually dont trigger the effect. in practice only logo does */
section, footer {
    pointer-events: all;
}

img {
    image-rendering: high-quality;
    max-width: 100%;
}


canvas {
    pointer-events: all;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

* {
    user-select: none;
}
